:root {
	--headerText: #868378;
    --headerTextHover: #fad355;
    --appleGreen: #72b643;
    --btnBackground: #f9f9f9;
    --hoveringYellow: #fad34a;
    --modalBackground: #25634d;
    }

    /*header styling*/

.logo_style{
	height: 4em;
	width: auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: white;
}
.header_spacing{
    margin-top: 20px;
    margin-bottom: 20px;
}
.mainheadernavbar{
    display: block;
}

 /*navbar dropdown*/

 .dropdown {
            margin: 0;
            padding: 0;
            list-style: none;
            width: 100px;
            color: white !important;
            
        }

        .dropdown li {
            position: relative;
        }

        .dropdown li a {
            color: var(--headerText);
            text-align: center;
            text-decoration: none;
            display: block;
            padding: 10px;

        }
        .dropdown li a:hover{
            background-color: white !important;
            color: var(--hoveringYellow)!important;
        }

        .dropdown li ul {
            position: absolute;
            top: 100%;
            margin: 0;
            padding: 6px 12px 6px 12px;
            list-style: none;
            display: none;
            line-height: normal;
            background-color: var(--appleGreen);
            border-radius: 6px;
        }


        .dropdown li ul li a {
            text-align: left;
            color: white;
            font-size: 17px;
            padding: 10px;
            display: block;
            white-space: nowrap;
        }

        .dropdown li ul li a:hover {
            background-color: transparent !important;
            color: var(--hoveringYellow) !important;
        }

        .dropdown li ul li ul {
            left: 100%;
            top: 0;
        }

        ul li:hover>a {
            
            color: var(--hoveringYellow) !important;
        }

        ul li:hover>ul {
            display: block;
        }
        
 /*end of the dropdown*/

 /*navbar dropdown-modal*/

 .dropdown_d {
            margin: 0;
            padding: 0;
            list-style: none;
            width: 100%;
            
        }

        .dropdown_d li {
            position: relative;
        padding-left: 12px;
        }

        .dropdown_d li a {
            color: white;
            text-align: start;
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            padding: 10px;
        }

        .dropdown_d li ul {
           /* position: absolute;*/
            top: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            display: none;
            line-height: normal;
           /* background-color: var(--appleGreen);*/
            z-index: 1;
        }

        .dropdown_d li ul li a {
            text-align: left;
            color: #cccccc;
            font-size: 14px;
            padding: 10px 10px 10px 10px;
            display: block;
            white-space: nowrap;
            font-size: 18px;
        }

        .dropdown_d li ul li a:hover {
            /*background-color: #0abf53;*/
            color: #ffffff;
        }

        .dropdown_d li ul li ul {
            left: 100%;
            top: 0;
            padding-left: 12px;
        }

        ul li:hover>a {
            /*background-color: #0abf53;*/
            color: #ffffff !important;
        }

        ul li:hover>ul {
            display: block;
        }
 

.main_bg{
    background-color: #f6f6f6;
}

.sideBar_padding{
    padding: 25px 30px 30px 30px;
}
      /*End of the dropdown*/
 .left_content_div{
    
    /*width: 390px;*/
    margin-right: 22px;
    padding: 0;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #e5e7f2;
 }
 .right_content_div{
    background: #fff;
    margin-bottom: 10px;
    border: 1px solid #e5e7f2;
    width: 760px;
 }
 .product_style{
    padding: 18px 30px 18px 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e7f2;
 }
 .product_style p {
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    color: #566985;
 }
 .select_style{
    background-color: transparent;
    font-weight: normal;
     color: var(--headerText);
     font-size: 16px;
     padding-left: 19px;


 }
 .select_style:focus{
    outline: none;
    
 }
 .form_styling{
     border: 1px solid #e5e7f2;
     font-weight: normal;
     color: var(--headerText);
     font-size: 16px;
     border-radius: 6px;
     padding: 12px;
      margin-bottom: 20px;

 }
 .selector_i{
    padding-top: 5px;
    padding-right: 12px;
    position: absolute;
 }
 .right_h2{
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    float: left;
    color: #566985;
    position: relative;
    margin: 0;
 }
 .right_h2_div{
    padding: 14px 20px 14px 20px;
 }
   /*image part styling*/
 .image_content{
   
    box-shadow: rgb(0 0 0 / 10%) 0px 5px 5px;
    border-top: 1px solid #e5e7f275;

 }
 .col_md1_styleImage{
    width: 31.5%;
    margin-right: 8px;
 }
 .col_md2_styleImage{
    width: 31.5%;
    margin-right: 8px;
    margin-left: 8px;
 }
 .col_md3_styleImage{
    width: 31.5%;
    margin-left: 8px;
 }
 .nameboxpdt{
    background: var(--appleGreen);
    height: 112px;
    
    width: 100%;
    font-size: 13px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

 }
 .brandimg:active{
    background: rgb(245 141 43);
    opacity: .5;
    border: 1px solid #f77606!important;
    box-shadow: 0 0 10px #f77606;
 }
 .brandimg {
    border: 1px solid #ccc;
    border-radius: 5px;
    
   }
   .w-99{
    width: 99%;
   }
   .branding_p{
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
   }
   /*end of the section*/
   .image_spacing_right{
    margin-bottom: 10px;
   }


    /*End of the content part*/

    /*Begining of the footer styling*/
  .footer_p{
    color: var(--headerText);
    font-size: 20px;
    margin-right: 12px;
  }
  .followus_icon{
    background-color: var(--hoveringYellow);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .footer_follow{
    display: flex;
    justify-content: end;
  }

    /*end of the footer*/


    /*modal styling*/

   .modal_content_bg{
    background-color: var(--modalBackground);
   }
   .modal_body_style{
    display: flex;
    flex-direction: column;
    color: white;
   }
   .btn_style{
    background-color: transparent;
    border: none;
    display: none;
   }
   .btn_style:focus {
    outline: none !important;
   }
   .bar_ss{
    color: black;
    font-size: 27px;
   }
   .search_style{
    background-color: var(--modalBackground);
    border: none;
    padding-bottom: 12px;
   }
   .search_style:focus{
     outline: none;
   }
   .search_wrap_div{
    border-bottom: 1px solid white;
   }
   .search_icon{
    position: absolute;
    right: 33px;
    color: var(--headerText);
   }
    /*end of modal styling*/

  /*dropdown */
  .brandimg_drop{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 33%;
    height: 60px;
  }
  .display_bbm{
    display: none;
  }
  .left_dis{
    display: block;
  }
  .product_filters{
   padding: 14px 20px 14px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e7f2;
    align-items: center;
    color: #566985;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
        background: #fff;
    
    border: 1px solid #e5e7f2;
  }
   

  .select {
  position: relative;
  /*margin-bottom: 15px;*/
  width: 100%;
 /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}
.select .selectBtn {
 /* background: var(--bg1);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  width: 100%;*/
  cursor: pointer;
  position: relative;
  padding-left: 26px;
 
  /*-webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #fff;*/
}
.select .selectBtn:after {
  content: "";
  position: absolute;
  top: 45%;
  right: 15px;
  width: 6px;
  height: 6px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  transition: 0.2s ease;
}

.select .selectBtn.toggle {
  border-radius: 3px 3px 0 0;
}
.select .selectBtn.toggle:after {
  -webkit-transform: translateY(-50%) rotate(-135deg);
          transform: translateY(-50%) rotate(-135deg);
}
.select .selectDropdown {
  position: absolute;
  top: 40px;
  width: 100%;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
  background: var(--bg1);
  border-top: 1px solid #eee;
  z-index: 1;
  background: #fff;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  visibility: hidden;
  transition: 0.2s ease;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.select .selectDropdown .option {
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.select .selectDropdown .option:hover {
  background: var(--appleGreen);
  color: white;
}
.select .selectDropdown.toggle {
  visibility: visible;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}


/* The Modal (background) */
.modal_filter {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
     transition-property: transform;
     transition-duration: 2s;
}

/* Modal Content */
.modal-content_filter {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
      transition: transform 2s ease-out;
}

/* The Close Button */
.close_filter {
  color: #566985;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: end;
  padding-right: 28px;
}

.close_filter:hover,
.close_filter:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



@media (max-width: 768px){
    .col_md1_styleImage{
        width: 100%;
        margin-right: 0px;
    }
    .col_md2_styleImage{
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }
    .col_md3_styleImage{
        width: 100%;
        margin-left: 0px;
    }
    .right_content_div{
        width: 336px;
        margin-top: 10px;
    }
    .mainheadernavbar{
        display: none;
    }
    .btn_style{
        display: block;
    }
    .right_content_div{
        margin-right: 0px;
        margin-left: 0px;
    }
    .left_content_div{
        margin-right: 0px;
    }
    .footer_align{
        text-align: center;
    }
    .footer_p{
        font-size: 16px;
    }
    .footer_follow{
        justify-content: center;
    }
    .display_bbm{
        display: block;
    }
    .left_dis{
        display: none;
    }
    .selector_i{
        padding-top: 2px;
    }
}






